@if (this.isSignedIn) {
<mat-card appearance="outlined">
  <mat-card-header>
    <img mat-card-avatar [src]="userProfile?.picture || './assets/shiba1.jpg'">
    <mat-card-title>{{userProfile?.name || userProfile?.userName}}</mat-card-title>
    <mat-card-subtitle>{{userProfile?.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{userProfile?.userName}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="signout()">Signout</button>
  </mat-card-actions>
</mat-card>

}
@else {
<button mat-raised-button (click)="signin()">Signin</button>
}