<div style="padding-bottom: 15px; max-width: 500px;">
    <app-advanced-settings></app-advanced-settings>
</div>

<div class="new-image-container">
    <div class="button-container">

        <button mat-raised-button (click)="requestNewImage()">New Image</button>
        <ng-container *ngIf="(this.currentImage$ | async)?.presignedUrl">
            <app-image-settings></app-image-settings>
        </ng-container>
    </div>
    <div style="padding-top: 10px;">
        <ng-container *ngIf="this.isLoading$ | async as isLoading else elseBlock">
            <mat-spinner></mat-spinner>
        </ng-container>

        <ng-template #elseBlock>
            <ng-container *ngIf="(this.currentImage$ | async)?.presignedUrl as p">
                <div>
                    <img style="object-fit: cover; width: 100%;" [src]="p">
                </div>
            </ng-container>
        </ng-template>
    </div>
</div>