<div style="padding-bottom: 15px; max-width: 500px;">
    <app-webcam-settings></app-webcam-settings>
</div>

<div class="new-image-container">
    <button mat-raised-button (click)="requestNewImage()">New Image</button>
    <div style="padding-top: 10px;">
        <ng-container *ngIf="this.isLoading$ | async as isLoading else elseBlock">
            <mat-spinner></mat-spinner>
        </ng-container>

        <ng-template #elseBlock>
            <ng-container *ngIf="this.currentImage$ | async as i">
                <div>
                    <img style="object-fit: cover; width: 100%;" [src]="i.presignedUrl">
                </div>
            </ng-container>
        </ng-template>
    </div>
</div>