# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
./ClientApp/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
./ClientApp/.angular/cache
./ClientApp/.sass-cache
./ClientApp/connect.lock
./ClientApp/coverage
./ClientApp/libpeerconnection.log
./ClientAppnpm-debug.log
./ClientAppyarn-error.log
./ClientApptestem.log
./ClientApp/typings

# System Files
.DS_Store
Thumbs.db
