<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Advanced settings</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="advancedSettingsForm" class="form-grid">

        <ng-container formGroupName="webcamSettings">
            <div class="slider-form">
                <span>Brightness</span>
                <mat-slider thumbLabel min="0" max="255" tickInterval="auto" formControlName="brightness"></mat-slider>
            </div>
            <div class="slider-form">
                <span>Contrast</span>
                <mat-slider thumbLabel min="0" max="255" tickInterval="auto" formControlName="contrast"></mat-slider>
            </div>
        </ng-container>

        <div class="slider-form" formGroupName="lightSettings">
            <span>Light on?</span>
            <mat-slide-toggle style="padding-left: 5px" formControlName="isOn">{{this.advancedSettingsForm['controls'].lightSettings['controls'].isOn.value ? 'On' : 'Off'}}</mat-slide-toggle>
        </div>

    </form>

    <mat-action-row>
        <button mat-button color="warn" (click)="reset()">Reset</button>
    </mat-action-row>
</mat-expansion-panel>