<h1 class="mat-body">Last 10 Images</h1>

<div style="max-width: 500px;">

    <mat-accordion>

        <mat-expansion-panel *ngFor="let x of history$ | async">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{x.imageDate + 'Z' | date: 'MMM d, y, hh:mm:ss a' }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <img [src]="x.presignedUrl" style="object-fit: cover; width: 100%;">
            </ng-template>

            <mat-action-row>
                <button mat-button color="primary" (click)="saveImage()">Save</button>
            </mat-action-row>
        </mat-expansion-panel>

    </mat-accordion>
</div>